{% extends "includes/layout.html" %}

{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'account:index' %}">Home</a></li>
                {% if librarian %}
                    <li><a href="{% url 'account:issue-borrowing-card' %}">Issue Borrowing Card</a></li>
                    <li><a href="{% url 'book:register' %}">Register Book or Copies</a></li>
                    <li><a href="{% url 'transaction:lent' %}">Lent books</a></li>
                    <li><a href="{% url 'transaction:return' %}">Receive books</a></li>
                {% elif user.is_authenticated %}
                    <li><a href="{% url 'account:activate-borrowing-card' %}">Your Borrowing Card</a></li>
                    <li><a href="{% url 'transaction:check-out' %}">Check Out</a></li>
                    <li><a href="{% url 'transaction:borrow' %}">Borrowed list</a></li>
                {% endif %}

            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            </div>
          <!-- /.row -->
            {% if home_books %}
                <div class="row">
                    <div style="text-align:center;">Total {{ count }} home_books</div>
                </div>
                {% for row in home_books %}
                    <div class="row">
                        {% for book in row %}
                            <div class="col-lg-4" style="margin: 15px 0">
                                <p> <strong>Title</strong>: {{ book.title }} </p>
                                <p> <strong>Authors</strong>: {{ book.authors }}</p>
                                <a href="{% url 'book:detail' book.id %}">
                                    <img src="/media/{{ book.cover }}"/>
                                </a>              
                            </div>
                            {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
