{% extends 'base.html' %}

{% block title %}Book{% endblock %}

{% block content %}    


    {% if isbn_form %}
        <h2>First, enter an ISBN</h2>
        <form method="post">
            {{ isbn_form.as_p }}
            <button type="submit">Register</button>
        </form>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
    {% endif %}

    {% if search_book_form %}
        <h2>Search Book Form</h2>
        <form method="post">
            {{ search_book_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}


    {% if register_book_form %}
        <h2>Register Book Form</h2>
        <form enctype="multipart/form-data" method="post">
            {{ register_book_form.as_p }}
            <button type="submit">Register</button>
        </form>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
    {% endif %}

    {% if register_copy_form %}
        <h2>Register Copy Form</h2>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
        <form method="post">
            {{ register_copy_form.as_p }}
            <button type="submit">Register</button>
        </form>
        <form method="get">
            Click here if you want to reset the process
            <button type="submit">Clear</button>
        </form>
    {% endif %}


    {% if books %}
        <h2>List books</h2>
        {% for book in books %}
            <p> Title: {{ book.title }} </p>
            <p> Authors: {{ book.authors }}</p>
            <a href="{% url 'book:detail' book.id %}">
                <img src="/media/{{ book.cover }}"/>
            </a>
        {% endfor %}
    {% endif %}

    {% if book %}
        <h2>Book detail</h2>
        <p>ID: {{ book.sequential_number }}{{ book.subclassification.classfication.label }}{{ book.subclassification.label }}</p>
        <p>Title: {{ book.title }}</p>
        <p>Publisher: {{ book.publisher }}</p>
        <p>Authors: {{ book.authors }}</p>
        <p>ISBN_13: {{ book.isbn }}</p>
        <p>Description: {{ book.description }}</p>
        <img src="/media/{{ book.cover }}"/>
        <p>Classification: {{ classification.label }} {{ classification.description }}</p>
        <p>Subclassification: {{ subclassification.label }} {{ subclassification.description }}</p>
        <form method="post" action="{% url 'transaction:add_to_cart'%}">
            <input type="hidden" name="book_id" id="id_book_id" value="{{ book.id }}"/></p>
            <button type="submit">Add to cart</button>
        </form>
    {% endif %}

{% endblock %}
