{% extends 'base.html' %}

{% block title %}Copy{% endblock %}

{% block content %}    

    <h2>Copy</h2>
    {% for book in books %}
        <h4>{{book.book.title}} ({{book.count}} copies)</h4>
        <a href="{% url 'book:detail' book.book.id %}">
            <img src="/media/{{ book.book.cover }}"/>
        </a>
        <p>Authors: {{book.book.authors}}</p>
        <p>ISBN_13: {{book.book.isbn}}</p>
    {% endfor %}

{% endblock %}
