{% load static %}

<!-- Navigation -->
<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'account:index' %}" style="color: #000;">ISD Library</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" role="search" action="{% url 'book:search' %}" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="query" placeholder="Enter any keyword">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav" style="float: right;">
                    {% if user.is_authenticated %}
                        <li class="navbar-text navbar-left">Logged in as
                        {% if librarian %}
                            <strong>librarian</strong>
                        {% else %}
                            <strong>user</strong>
                        {% endif %}
                         {{ user.username }}</li>
                        <li>
                            <a href="{% url 'account:logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'transaction:cart' %}">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'transaction:history' %}">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Transaction History
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'account:login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'account:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
