{% extends "home.html" %}

{% block content %}
    {% if form %}
        <h2>Activate Borrowing Card Form</h2>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Activate</button>
        </form>
    {% endif %}
{% endblock %}
