{% extends 'base.html' %}

{% block title %}Activate Borrowing Card{% endblock %}

{% block content %}
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    
    {% if activate_borrowing_card_form %}
        <h2>Activate Borrowing Card Form</h2>
        <form method="post" action="{{ action }}">
            {{ activate_borrowing_card_form.as_p }}
            <button type="submit">Activate</button>
        </form>
    {% endif %}

{% endblock %}
