{% extends 'base.html' %}

{% block title %}Issue Borrowing Card{% endblock %}

{% block content %}

    {% if not user_info %}
        <h2>Search user</h2>
        <form method="post">
            {{ user_search_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}

    {% if user_info %}
        <h2>User detail</h2>
        <p>Fullname: {{ user_info.fullname }}</p>
        <p>Borrowing card status: {{ user_info.borrowing_card_status }}</p>
        <p>Type: {{ user_info.type }}</p>
    {% endif %}

    {% if issue_card_validation_form %}
        <h2>Issue card validation form</h2>
        {% if not user_info.is_student %}
            <p>Ask user to pay 200.000 VND as deposit</p>
        {% endif %}
        <form method="post">
            {{ issue_card_validation_form.as_p }}
            <button type="submit">Validate</button>
        </form>
    {% endif %}

    {% if card %}
        <h2>Issued card information</h2>
        <p>Borrow number: {{card.pk}}</p>
        <p>Expired date: {{card.expired_date}}</p>
        <p>Activation code: {{card.activation_code}}</p>
    {% endif %}

    <h2>Click reset to clear all form</h2>
    <form method="get">
        <button type="submit">Reset</button>
    </form>

{% endblock %}
