{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    {% if message %}
        <p> {{ message }} </p>
    {% endif %}

    <a href="{% url 'account:register' %}">Did not have an account? Register here</a>

{% endblock %}