{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="post" action="{{ action }}">
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    {% if message %}
        <p> {{ message }} </p>
    {% endif %}

    {% if redirect %}
        <script>
            var timer = setTimeout(function() {
                window.location='/'
            }, 2000);
        </script>
    {% endif %}

{% endblock %}