{% extends 'base.html' %}

{% block title %}Book{% endblock %}

{% block content %}    

    <h2>Borrowed</h2>
    {% for item in borrowed %}
        <h4>Title: {{ item.book.title }} </h4>
        <a href="{% url 'book:detail' item.book.id %}">
            <img src="/media/{{ item.book.cover }}"/>
        </a>
        <p>Borrowed at: {{ item.transaction.start }}</p>
        <p>Status: 
            {% if item.transaction.type == "B" %}
                you've just borrowed this book, please to go to library to take it
            {% else %}
                the librarian already lent you this book, please remember to return it
            {% endif %}
        </p>
    {% endfor %}

    <p>{{ error }}</p>

{% endblock %}
