{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}    

    {% if books %}
        <h2>Cart</h2>
        {% for book in books %}
            <p> Title: {{ book.title }} </p>
            <p> Authors: {{ book.authors }}</p>
            <a href="{% url 'book:detail' book.id %}">
                <img src="/media/{{ book.cover }}"/>
            </a>
        {% endfor %}
    {% endif %}


    <p>{{ error }}</p>

    <p>{{ add_to_cart_form.non_field_errors }}</p>
    <p>{{ add_to_cart_form.book_id.errors }}</p>

    <h2>Clear cart</h2>
    <form method="post" action="{% url 'transaction:clear_cart' %}">
        <button type="submit">Clear cart</button>
    </form>

{% endblock %}
