{% extends 'base.html' %}

{% block title %}History{% endblock %}

{% block content %}    

    <h2>History</h2>
    {% for record in records %}
        <h4>Title: {{ record.book.title }} </h4>
        <a href="{% url 'book:detail' record.book.id %}">
            <img src="/media/{{ record.book.cover }}"/>
        </a>
        <p>Time: {{ record.history.start }} - {{ record.history.end }}</p>
        <p>Copy sequence id: {{ record.copy.sequence_id }}
        <p>Description: {{ record.history.description }}
    {% endfor %}

    <p>{{ error }}</p>

{% endblock %}
