{% extends 'base.html' %}

{% block title %}Lent book{% endblock %}

{% block content %}    
    
    {% if search_borrowing_information_form %}
        <h2>Search borrow information</h2>
        <form method="post">
            {{ search_borrowing_information_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}

    {% if lent_form %}
        <h2>Please check on books that you lent the user</h2>
        <form method="post">
            {{ lent_form.as_p }}
            <button type="submit">Lent</button>
        </form>
    {% endif %}

{% endblock %}
