{% extends 'base.html' %}

{% block title %}Return book{% endblock %}

{% block content %}    
    
    {% if search_lent_information_form %}
        <h2>Search lent information</h2>
        <form method="post">
            {{ search_lent_information_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}

    {% for transaction_id in transaction_ids %}
        <p>{{transaction_id}}</p>
    {% endfor %}

    {% for verify_lent_information_form in verify_lent_information_forms%}
        <h2>Verify lent information of transaction {{ verify_lent_information_form.transaction_id }}</h2>
        <form method="post">
            {{ verify_lent_information_form.form.as_p }}
            <button type="submit">Verify</button>
        </form>
    {% endfor %}

    {% if compensation_form %}
        <h2>Submit compensation money</h2>
        <form method="post">
            {{ compensation_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    <p>{{message}}</p>

{% endblock %}
