{% extends 'home.html' %}

{% block content %}

    {% if add_to_cart_form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        <strong>{{ add_to_cart_form.non_field_errors }}</strong>
    </div>
    {% endif %}

    {% if add_to_cart_form.book_id.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        <strong>{{ add_to_cart_form.book_id.errors }}</strong>
    </div>
    {% endif %}

    <h2>Cart</h2>
    {% for book in carts %}
        <p> Title: {{ book.title }} </p>
        <p> Authors: {{ book.authors }}</p>
        <p> Copy id: {{ book.id }}</p>
        <a href="{% url 'book:detail' book.id %}">
            <img src="/media/{{ book.cover }}"/>
        </a>
    {% endfor %}

    <form method="post" action="{% url 'transaction:clear-cart' %}">{% csrf_token %}
        <button type="submit">Clear cart</button>
    </form>
{% endblock %}
