{% extends 'home.html' %}

{% block content %}    

    <h2>History</h2>
    {% for record in records %}
        <h4>Title: {{ record.book.title }} </h4>
        <a href="{% url 'book:detail' record.book.id %}">
            <img src="/media/{{ record.book.cover }}"/>
        </a>
        <p>Time: {{ record.history.start }} - {{ record.history.end }}</p>
        <p>Copy sequential number: {{ record.history.copy.sequential_number }}
        <p>Copy id: {{ record.history.copy.id }} </p>
        <p>Description: {{ record.history.description }}
    {% endfor %}

    <p>{{ error }}</p>

{% endblock %}
