{% extends 'home.html' %}

{% block content %}    
    
    {% if search_borrowing_information_form %}
        <h2>Search borrow information</h2>
        <form method="post">{% csrf_token %}
            {{ search_borrowing_information_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}


    {% if lent_form %}
        <h2>Please check on books that you lent the user</h2>
        <form method="post">{% csrf_token %}
            {{ lent_form.as_p }}
            {% if borrow_user %}
                <h2>User information</h2>
                <p>Fullname: {{borrow_user.first_name}} {{borrow_user.last_name}}</p>
                <p>Email: {{borrow_user.email}}</p>
                <p>Contact: {{borrow_user.contact}}</p>
                {% if borrow_user.is_student %}
                    <p>Type: Student (user do not have to pay any borrowing fee)</p>
                    <p>Student id: {{ student.student_id }}
                {% else %}
                    <p>Type: Not student (user need to pay borrowing fee)</p>
                    <p>Citizen id: {{ not_student.citizen_id }}
                    <p>Total fee: {{ total }} VND </p>
                {% endif %}
            {% endif %}
            <button type="submit">Lent</button>
        </form>
    {% endif %}

{% endblock %}
