{% extends 'home.html' %}

{% block content %}    
    
    {% if search_lent_information_form %}
        <h2>Search lent information</h2>
        <form method="post">{% csrf_token %}
            {{ search_lent_information_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}

    {% for verify_lent_information_form in verify_lent_information_forms%}
        <h2>Verify lent information of transaction {{ verify_lent_information_form.transaction_id }}</h2>
        <p> <strong>Book title startwith</strong>: {{ verify_lent_information_form.transaction.copy.book.title|slice:':10'|join:'' }}</p>
        <form method="post">{% csrf_token %}
            {{ verify_lent_information_form.form.as_p }}
            <button type="submit">Verify</button>
        </form>
    {% endfor %}

    {% if compensation_form %}
        <h2>Submit compensation money</h2>
        <form method="post">{% csrf_token %}
            {{ compensation_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    {% if compensation_verify_form %}
        <h2>Submit compensation money</h2>
        <p><strong>Total amount of compensation money:</strong>{{ total_compensation_money }} VND</p>
        <form method="post">{% csrf_token %}
            {{ compensation_verify_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}


{% endblock %}
