{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>
    {% endif %}

    {% block extrahead %}{% endblock %}

    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}" />
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}" />
        {% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
        <!-- Header -->
        <div id="header">
            <div id="branding">
                {% block branding %}{% endblock %}
            </div>
            {% block usertools %}
            {% if user.is_authenticated %}
                <div id="user-tools">
                    {% block welcome-msg %}
                        {% trans 'Welcome,' %}
                        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                    {% endblock %}
                    {% block userlinks %}
                        {% if site_url %}
                            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                        {% endif %}
                        {% if user.is_active and user.is_staff %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                            {% endif %}
                        {% endif %}
<!--                         {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                        {% endif %}
 -->                        <a href="{% url 'account:logout' %}">{% trans 'Log out' %}</a>
                    {% endblock %}
                </div>
            {% endif %}
            {% endblock %}
            {% block nav-global %}{% endblock %}
        </div>
        <!-- END Header -->

        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                <a href="{% url 'account:issue_borrowing_card' %}">{% trans 'IssueBorrowingCardView' %}</a>
                <a href="{% url 'account:activate_borrowing_card' %}">{% trans 'ActivateBorrowingCardView' %}</a>
                <a href="{% url 'book:register' %}">{% trans 'Register book' %}</a>
                <a href="{% url 'book:search' %}">{% trans 'Search books' %}</a>
                <a href="{% url 'book:copy' %}">{% trans 'Copies info' %}</a>
                <a href="{% url 'transaction:cart' %}">{% trans 'View cart' %}</a>
                <a href="{% url 'transaction:check_out' %}">{% trans 'Check out' %}</a>
                <a href="{% url 'transaction:borrow' %}">{% trans 'View borrow' %}</a>
                <a href="{% url 'transaction:lent' %}">{% trans 'Lent' %}</a>
                <a href="{% url 'transaction:history' %}">{% trans 'History' %}</a>
                <a href="{% url 'transaction:return' %}">{% trans 'Return' %}</a>
            </div>
        {% endblock %}

    {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colL{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>