{% extends 'home.html' %}

{% block content %}    

    {% if isbn_form %}
        <h2>First, enter an ISBN</h2>
        <form method="post">{% csrf_token %}
            {{ isbn_form.as_p }}
            <button type="submit">Register</button>
        </form>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
    {% endif %}

    {% if search_book_form %}
        <h2>Search Book Form</h2>
        <form method="get">
            {{ search_book_form.as_p }}
            <button type="submit">Search</button>
        </form>
    {% endif %}


    {% if register_book_form %}
        <h2>Register Book Form</h2>
        <form enctype="multipart/form-data" method="post">{% csrf_token %}
            {{ register_book_form.as_p }}
            <button type="submit">Register</button>
        </form>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
    {% endif %}

    {% if register_copy_form %}
        <h2>Register Copy Form</h2>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
        <form method="post">{% csrf_token %}
            {{ register_copy_form.as_p }}
            <button type="submit">Register</button>
        </form>
        <form method="get">{% csrf_token %}
            Click here if you want to reset the process
            <button type="submit">Clear</button>
        </form>
    {% endif %}

    {% if books %}
        <div class="row">
            <div style="text-align:center;">Total {{ count }} books</div>
        </div>
        {% for row in books %}
            <div class="row">
                {% for book in row %}
                    <div class="col-lg-4" style="margin: 15px 0">
                        <p> <strong>Title</strong>: {{ book.title }} </p>
                        <p> <strong>Authors</strong>: {{ book.authors }}</p>
                        <a href="{% url 'book:detail' book.id %}">
                            <img src="/media/{{ book.cover }}"/>
                        </a>              
                    </div>
                    {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    {% if book %}
        <h2>Book detail</h2>
        <p>ID: {{ book.sequential_number }}{{ book.subclassification.classfication.label }}{{ book.subclassification.label }}</p>
        <p>Title: {{ book.title }}</p>
        <p>Publisher: {{ book.publisher }}</p>
        <p>Authors: {{ book.authors }}</p>
        <p>ISBN_13: {{ book.isbn }}</p>
        <p>Description: {{ book.description }}</p>
        <img src="/media/{{ book.cover }}"/>
        <p>Classification: {{ classification.label }} {{ classification.description }}</p>
        <p>Subclassification: {{ subclassification.label }} {{ subclassification.description }}</p>
        <table>
            <tr>
                <th><strong>#</strong></th>
                <th><strong>Type</strong></th>
                <th><strong>Status</strong></th>
                <th><strong>Price</strong></th>
            </tr>
            {% for copy in copies %}
                <tr>
                    <td>{{ copy.sequential_number }}</td>
                    <td>{{ copy.type }}</td>
                    <td>{{ copy.status }}</td>
                    <td>{{ copy.price }}</td>
                </tr>
            {% endfor %}            
        </table>
        <form method="post" action="{% url 'transaction:add-to-cart'%}">{% csrf_token %}
            <input type="hidden" name="book_id" id="id_book_id" value="{{ book.id }}"/></p>
            <button type="submit">Add to cart</button>
        </form>
    {% endif %}

{% endblock %}